(function () {
  Config = {
    activity_id: "",
    agent_mbox: "",
    stateId: "",
    agent_name: "",
    registration: "",
    record_store: {
      endpoint: "",
      username: "",
      password: "",
      version:  "1.0.0"
    }
  };

  module.exports = Config;
}());
